<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Antenatal Risk Assessment</h1>
    <form method="POST">
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br><br>
        <label for="bmi">BMI:</label><br>
        <input type="number" id="bmi" name="bmi"><br><br>
        <input type="checkbox" id="diabetes" name="diabetes">
        <label for="diabetes"> Diabetes</label><br>
        <input type="checkbox" id="smoking" name="smoking">
        <label for="smoking"> Smoking</label><br>
        <input type="checkbox" id="previous_cs" name="previous_cs">
        <label for="previous_cs"> Previous C-section</label><br><br>
        <label for="anemia">Anemia:</label><br>
        <input type="checkbox" id="anemia" name="anemia"><br><br>
        <label for="hyptension">Hypertension:</label><br>
        <input type="checkbox" id="hyptension" name="hyptension"><br><br>

        <input type="submit" value="Next">
    </form>

   
</body>
</html>